.cal_body{
    margin: 20px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.496);
}
.cal-btn button{
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.424);
    border: 0px;
    border-radius: 10px;
    transition: ease-in 0.3s;
}

.cal-btn button:hover{
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.424);
    border: 0px;
    border-radius: 10px;
    transition: ease-out 0.3s ;
    transform: scale(1.1,1.1);
}

.month-body{
    text-align: center;
}

.month-body {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    border: 0px;
}

.day-list ul{
    display: flex;
}

.day-list ul li{
    font-weight: bolder;
    list-style: none;
    display:inline;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.main-body{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin: 20px;
    padding: 10px;
}

.celender-days-empty{
    height: 100px;
    width: 100px;
}

.celender-days{
    border-radius: 10%;
    display: flex;
    height: 80px;
    width: 80px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 5px;
    cursor: pointer;
}

.celender-days:hover{
    border-radius: 10%;
    display: flex;
    height: 80px;
    width: 80px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 5px;
    background-color: #007BFF;
    color: #fff;
}

.days-of-week{
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
} 